.registerTitle {
    font-size: 1.0rem;
    /* equivalent to 24px at 16px base font size */
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
    /* equivalent to 22px at 16px base font size */
}

.registerSubTitle {
    font-size: 0.95rem;
    /* equivalent to 22px at 16px base font size */
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.15rem;
    /* equivalent to 20px at 16px base font size */
}